.et-db #et-boc .et-l .et-fb-modules-list ul > li.gs_teca_events {
	height: 67px;
}

.teca-divi-placeholder {
	padding: 16px;
	border: 1px dashed #c3c4c7;
	border-radius: 4px;
	color: #50575e;
	background: #f6f7f7;
	text-align: center;
}

.teca-divi-widget-wrap {
	width: 100%;
}
